.btn-group {
  display: flex;
}

.btn-rounded {
  border-radius: 3px;
  padding: .5rem 1rem;
  color: $color-white;
}

.btn {
  border:none;
  cursor: pointer;
  font-family: inherit;
  outline:none;
  display: block;
  text-align: center;
  text-decoration: none;
  
  &--add {
    align-self: center;
    background-color: $color-secondary;
    border-radius: 50%;
    color: #f7f7f7;
    font-size: 3rem;
    height: 4rem;
    line-height: 1;
    width: 4rem;
    
    @media (max-width: 480px) {
      margin-top: .2rem;
      flex: 0 1 95%;
      border-radius: 3px;
    }  
  }

  &--big {
    background-color: $color-secondary;
    box-shadow: inset 2px 2px 8px rgba(0,0,0,.1);
    color: #f7f7f7;
    flex: 0 1 50%;
    font-weight: 400;
    font-size: 2.5rem;
    padding: 1.5rem 3rem;
    
    @media (max-width: 600px) {font-size: 2rem;}
    @media (max-width: 480px) {font-size: 1.5rem;}
  }

  &--active { 
    background-color: $color-tertiary; 
  }


  &--cancel {
    @extend .btn-rounded;
    align-self: flex-end;
    background-color: $color-red;
    font-weight: 400;
    margin-left: .5rem;
    
  }

  &--edit {
    background-color: $color-white;
    color: $color-primary;
    font-weight: 600;
    margin: .5rem;
    padding: .5rem 1rem;
  }

  &--modal {
    @extend .btn-rounded;
    background-color: $color-red;
    font-weight: 400;
    flex: 0 1 20%;
    margin: .8rem .3rem;
    width: 30rem;
    
    @media(max-width: 600px) { flex: 0 1 40%;}
  }

  &--modal-cancel { 
    background-color: $color-secondary;
  }

  &--page {
    background-color: $color-secondary;
    border-radius: .6rem;
    color: #f7f7f7;
    margin-top: 2rem;
    padding: .5rem 1rem;
  }
  
  &--page-next {
    display: block;
    margin-left: auto;
  }

  &--remove {
    background-color: $color-white;
    color: $color-red;
    font-weight: 600;
    margin: .5rem 0;
    padding: .5rem 0 .5rem 1rem;   
  }

  &--remove-all {
    @extend .btn-rounded;
    background-color: $color-red;
    font-weight: 400;
    margin: .5rem 0;  
  }

  &--remove-all:disabled {
    background-color: lighten($color-red, 30%);
    cursor: initial;
  }

  &--submit {
    @extend .btn-rounded;
    background-color: $color-primary;
    font-weight: 400;  
  }
}
