// $color-primary: #0ddf84;
// $color-secondary: #0cc373;
// $color-tertiary: #e6f7ef;
// $color-white: #fff;


$color-primary:#1e263b;
$color-secondary: #36466f;
$color-tertiary: #475c93;

$color-grey: #2f2f2f;
$color-grey-light: #ebebeb;

$color-white: #fff;
$color-red: #be1e2d;